.page-wrapper.editor .container {
  background-color: #000;
}
.page-wrapper.editor .canvas-painter input {
  position: absolute;
  outline: none;
  border: none;
  background: transparent;
  font-weight: bold;
  z-index: 1000;
}
.page-wrapper.editor .canvas-painter .canvas-painter-tools {
  display: flex;
}
.page-wrapper.editor .canvas-painter .canvas-painter-tools .sketch-picker {
  position: absolute;
  top: 70px;
  left: 50px;
}
.page-wrapper.editor .canvas-painter .canvas-painter-tools .tools-item {
  margin-right: 24px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: 300ms ease all;
}
.page-wrapper.editor .canvas-painter .canvas-painter-tools .tools-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
